extends layout

block content
  div.title-book
    h1 ATN Toy's    

  //- Create books
  div.content_book
    h2 Create Product
    form(action="/" method="POST")
      div
        label(for="title") Toy's name
        input(type="text" name="title" required="required")
      div 
        label(for="description") Description
        input(type="text" name="description" required="required")
      div 
        label(for="author") Price
        input(type="text" name="author" required="required")
      div  
       button(type="submit") Create

  //- Read books
  div.content_book   
    h2 Read Product
    div.list_books
      each book in books
        ul
          li
           span Toy's Name:&nbsp
           =book.title
          li
           span Description:&nbsp
           =book.description
          li
           span Price:&nbsp
           =book.author
          li
           span ID:&nbsp
           =book._id

  //- Update books        
  div.content_book 
    h2 Update Product
    form(action="/update" method="POST")
      div
        label(for="id") ID
        input(type="text" name="id" required="required")
      div
        label(for="title") Toy's Name
        input(type="text" name="title" required="required")
      div 
        label(for="description") Description
        input(type="text" name="description" required="required")
      div 
        label(for="author") Price
        input(type="text" name="author" required="required")
      button(type="submit") Update   

  //- Delete books     
  div.content_book   
    h2 Delete Product
    form(action="/delete" method="POST")
      div
        label(for="id") ID
        input(type="text" name="id" required="required")
      button(type="submit") Delete
