doctype html
html
  head
    title Book App
    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    block content
    
    //- Footer
    div.footer-container
      span.copyright
        | © COPYRIGHT OF BH GAMING
